.container {
  height: calc(100% - 70px);
  box-sizing: border-box;
  max-width: 1264px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  .largeGrid {
    display: inline-flex;
    flex-direction: column;
    width: min-content;
    .rank {
      display: flex;
      align-items: center;
      width: max-content;
      margin-bottom: 29px;
      .text {
        font-size: 13px;
        font-weight: 600;  
        text-transform: uppercase;
        color: #4e738f;
        padding-right: 15px;
      }
      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        color: lightskyblue;
        font-weight: 600;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #1f3a5f;
      }
    }
 }
}