@import 'src/assets/styles/colors.scss';

.header {
  width: 100%;
  box-shadow: $slateblue 0px 1px 7px 1px;
  .innerContainer {
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1264px;
  }
  .title {
    color: $slateblue;
  }
}
.rightContainer {
  display: flex;
  .lastUpdate {
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: $mutedblue;

    .label,.time {
      display: inline-block;
      font-size: 0.67em;
      color: $mutedblue;
    }
    .time {
      display: inline-block;
      color: $slateblue;
      margin-left: 3px;
    }
  }  
}
